*{
    margin: 0;
    padding: 0;
    font-family: "montserrat",sans-serif;
  }
  .header{
    height: 150px;
    background: lightgray;
    padding: 0 20px;
    color: black;
  }
  .logo{
    line-height: 150px;
    float: left;
    text-transform: uppercase;
  }
  .headlineHug {
    text-align: center;
    font-size: 24px;
    margin-top: 1%;
    padding-bottom: 1%;
    padding-left:7%;
    padding-right: 7%;
  }
  
  .menu{
    float: right;
    line-height: 160px;
    font-size: 20px
  }
  .menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 150px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: black;
    background-color: lightgray;
    border: 2px solid black;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
  .mobilemynd {
    width: auto ;
    max-width: 100% ;
    height: auto ;
      
  }
  @media screen and (min-width:800px) {
    .mobilemynd {
        display: contents;
    }
    }
  
  
  @media screen and (max-width:800px) {
    .show-menu-btn,.hide-menu-btn{
      display: block;
      color: black;
    }
    #slider {
        display: none;
    }
    .menu{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #333;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 80px 0;
      line-height: normal;
      transition: 0.7s;
    }
    .menu a{
      display: block;
      padding: 20px;
    }
    .hide-menu-btn{
      position: absolute;
      top: 40px;
      right: 40px;
    }
    #chk:checked ~ .menu{
      right: 0;
    }
  }  
  
  
  
  
  
  
  
  
  
  
  
  
  
  body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    margin:0;
    background-color:whitesmoke;
  }
  
  /* Global */
  .container{
    width: 100%;
    text-align: center;
    margin: auto;
    padding-top: 32%;
    overflow: hidden;
  }
  .container p {
      padding-left: 9%;
      padding-right: 9%;
  }
  .fyrirspurnh1 {
    font-size: 32px;
  
  }
  
  ul{
    margin:0;
    padding:0;
  }
  
  
  .dark{
    padding:15px;
    background:#35424a;
    color:#ffffff;
    margin-top:10px;
    margin-bottom:10px;
  }
  
  @media screen and (max-width:800px) {
    .container {
        padding-top: 3%;
    } 
    }
  
  /*slideshow*/
  
  
  
  #slider {
    overflow: hidden;
  }
  #slider figure {
    position: absolute;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 18s slider infinite;
  }
  #slider figure img {
      width: 20%;
    float: left;
  
  }
  
  @keyframes slider {
      0% {
          left: 0;
      }
      20% {
          left: 0;
      }
      25% {
          left: -100%;
      }
      45% {
          left: -100%;
      }
      50% {
          left: -200%;
      }
      70% {
          left: -200%;
      }
      75% {
          left: -300%;
      }
      95% {
          left: -300%;
      }
      100% {
          left: -400%;
      }
  }
  
  /*SLIDER*/ 
  
  
  
  /* Boxes */
  #boxes{
    margin-top:20px;
    color: lightgray;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:10px;
  }
  
  #boxes .box img{
    width:90px;
  }
  .varningur{
    padding-bottom: 3%;

  }

  #Products{
    margin-top: 20px;
}
  #Products .vara{
    background-color: whitesmoke;
    float: left;
    text-align: center;
    width: 30%;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 2%;
}


  .vorurDiv {
    width:90%;
    margin:auto;
    overflow:hidden;
  }


  /* Sidebar */
  aside#sidebar{
    float:right;
    width:30%;
    margin-top:10px;
  }
  
  aside#sidebar .quote input, aside#sidebar .quote textarea{
    width:90%;
    padding:5px;
  }
  
  /* Main-col */
  article#main-col{
    float:left;
    width:65%;
  }
  
  /* Services */
  ul#services li{
    list-style: none;
    padding:20px;
    border: #cccccc solid 1px;
    margin-bottom:5px;
    background:#e6e6e6;
  }
  
  footer{
    padding:20px;
    margin-top:20px;
    color:#ffffff;
    background-color:lightgray;
    text-align: center;
  }
  
  /* Media Queries */
  @media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form,
    #Products .vara,
    article#main-col,
    aside#sidebar{
      float:none;
      text-align:center;
      width:100%;
    }
   .content {
       display: hidden;
   }
   
  
    header{
      padding-bottom:20px;
    }
  
    #showcase h1{
      margin-top:40px;
    }
  
    #newsletter button, .quote button{
      display:block;
      width:100%;
    }
  
    #newsletter form input[type="email"], .quote input, .quote textarea{
      width:100%;
      margin-bottom:5px;
    }
  }
  .kassar {
    color: lightgray;
  }
  #boxes{
    margin-top:20px;
    margin-left: 3%;
    color: lightgray;
  }
  
  #boxes .box{
    float:left;
    text-align: center;
    width:30%;
    padding:5px;
    }
  
  
  .containerDiv {
    position: relative;
    width: auto;
    height: 450px;
    margin: 10px auto;
    background: whitesmoke;
    display: block;
    
  
  }
  .containerDiv .box {
    position: relative;
    width: calc(400px - 30px);
    height: calc(450px - 30px);
    background: #fff;
    float: left;
    margin:  10px;
    margin-left: 1%;
    margin-right: 1%;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
  }   
  .containerDiv .box .icon {
    position: absolute;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background: darkgray;
    transition: 0.5s;
    z-index: 1;
  }
  .containerDiv .box:hover .icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%; 
  }
  .containerDiv .box .icon .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    transition: 0.5s;
    color: #fff;
  
  }
  .containerDiv .box:hover .icon .fa {
    font-size:40px;
  }
  .containerDiv .box .content {
    position: relative;
    top: 100%;
    height: calc(100% - 100px);
    text-align: center;
    padding: 10%;
    box-sizing: border-box;
    transition: 0.5s;
    opacity: 0;
  }
  .containerDiv .box:hover .content {
    top: 100px;
    opacity: 1;
  }
  .containerDiv .box .content h3 {
    margin: 0 0 10;
    padding: 0;
    color: black;
    font-size: 16px;
  }
  .containerDiv .box .content p {
    margin: 0;
    padding: 0;
    color: black;
  }

    
  .button_1{
    height:38px;
    background: #3fa5d5;
    border:0;
    padding-left: 20px;
    padding-right:20px;
    color:#ffffff;
  }
  .Listi_midja {
    width: 80%;
    text-align: center;
    align-items: center;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .Listi_midja li{
    padding-bottom: 2%;
  }