* {box-sizing: border-box}
body {
    background-color: white;
    background:  whitesmoke;
    color: #444444;
    font: 400 0,5em/1 "Open Sans", "sans serif"; /* Samsett skipun, þyngd/hæð, size, family */
}
.container {
    max-width: 80em; /* fartölvustærð */
    margin: 0 auto; /* top/bottom og left/rigth*/
    padding: 0;
    color: black;
}
.headerdiv {
    max-height: 9em;
    max-width: 50em;
}
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.beige {
    text-align: center;
    background-image: linear-gradient(to bottom,white , white);
    padding: 1em;
    display: grid;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 15vh;
}
header h1 {
    color: black;
    font-weight: 200;
    font-size: 2.5em;
    text-transform: uppercase;
    margin: 1em 0 1em 0;
}
.topnav {
    margin-top: 0;
    color: black;
    font-family: sans-serif;
    padding-left: 12em;
}
a:hover {
    background-color: gray;
    background-color: gray;
    border: 1px solid lightgray;
  }
header a {
    color: black;
    text-decoration: none;
    padding: 0 1em;
    margin-top: 5em;
}
.verkefni {
    text-align: right;
    color: black;
    font-style: oblique;
}
.copy {
    color: #fff;
    text-align: center;
}
blockquote {
    background-color: rgba(255, 255, 255, 0,5);
    padding: 1em;
}
footer {
    color: #fff;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:visited {
    color: #0064ce;
}
footer {
    list-style-type: none;
    padding-bottom: 0.2;
}
.myndTar {
    margin-top: -20px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 100px;
}
.title {
   margin-left: 15em;
}
.textisida {
    padding-left: 10em;
    padding-right: 10em;
    font-family: 'sans serif';
}