.header {
    z-index: 1;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    color: #ff013d;
    font-size: 24px;
    font-family: Comfortaa;
    background: white;
    border-bottom: 2px outset;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    font-weight: bold;
}
.header a {
    color: #ff013d;
    text-decoration: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropbtn {
    color: #ff013d;
    font-size: 24px;
    font-family: Comfortaa;
    background-color: white;
    border: none;
    font-weight: bold;
    font-family: Comfortaa;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-left: 10em;
}
.dropdown-content a {
    font-size: 16px;
    color: #ff013d;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.main {
    text-align: center;
    padding-top: 5em;
    padding-bottom: 3.5em;
    background-color: #f1f2f3;
    color: #f1f2f3;
}
.fyrirsogn {
    color: #ff013d;
    font-size: 48px;
    font-family: 'Shrikhand', cursive;
}
.um-mig {
    background: linear-gradient(to bottom, #3c216e, #01f64d);
    padding: 2em 3em 3em 3em;
    border-radius: 10px 85px;
    box-shadow: 6px 6px 20px grey;
    background-color: white;
}
.container {
    max-width: 80em;
    margin: 0 auto;
}
.um-mig-texti {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.nam {
    text-align: left;
    padding: 18px 2em 2em 2em;
}
.nam-listi {
    text-align: left;
    color: #ff013d;
    background: white;
    padding: 0.5em 0 1em 2em;
    border: 1px solid black;
    border-radius: 10px;
}
.ahugamal {
    background: linear-gradient(to bottom, #3c216e, #01f64d);
    padding: 3em;
    border-radius: 10px 85px;
    box-shadow: 6px 6px 20px grey;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer {
    border-top: 2px inset;
}
.footer-text {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60em;
    margin: auto;
}
.copy {
    text-align: center;
}